@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:wght@100;200&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&family=Shrikhand&display=swap');

:root {
    --clr-light: #eee;
    --clr-dark: #111;
    --clr-primary: #D6B97F;
    --clr-secondary: #7EA1D6;
    --clr-brand: #432A19;
    --clr-primary: #8A7243;
    --clr-secondary: #36578A;
    --clr-brand-transparent: rgba(44, 28, 16, 0.96);
}

* {
    text-decoration: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: 'Poppins', 'sans-serif';
}

main {
    width: 100%;
    height: 100%;
    margin: 0;
}

header,
footer {
    padding: 0.1rem;
    color: var(--clr-light);
}

section {
    position: relative;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
  
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

img {
    max-height: 200px;
    margin: 1px 0;
    object-fit: cover;
}

a {
    color: var(--clr-light);
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a { color: var(--text-light); }

ul { margin: 0 40px; }

ul li { 
  list-style-type: none; 
  padding: 14px 16px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

li:hover a,
.active { 
    color: var(--color-light-primary); 
    border-bottom: 1px solid var(--color-light-primary);
}

.navbar { 
  padding: 0 32px;
  z-index: 1003;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  display: flex;
  min-height: 64px;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}

.navlist,
.navlist a {
    color: var(--clr-light);
    transition: all .55s ease;
}

.navbar .navbar-brand {
    font-size: 2.2rem;
    font-family: 'Monoton', 'sans-serif';
    color: var(--clr-brand);
}

.navlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.navlist ul {
    display: flex;
    justify-content: space-between;  
    gap: 4px;
    padding: 2px 4px;
}

.navbar-toggler {   
  background-color: transparent;
  color: #fefefe;
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-self: center;
  margin: 0 8px;
  width: 64px;
  height: 64px;
  cursor: pointer;
  transition: all .55s ease;
}

  .navbar-toggler i {  
    font-size: 1.8rem;
    transition: all .55s ease;
  }

  .navbar-toggler i:hover {  
    font-size: 2.2rem;
  }

  .navbar-toggler:hover {
      background-color: rgba(63, 47, 47, 0.2);
      border: rgba(210, 210, 210, 0.8);
      box-shadow: 0px 3px 8px var(--clr-shadow);
  }

  .navbar-collapse.collapse {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(210, 210,  210, 0.98);
    backdrop-filter: blur(16px);  
    box-shadow: 0 2px 10px var(--clr-dark);
    width: 80dvw;
    height: 100dvh;
}

.navbar-collapse .btn-close {
    display: none;
}

    .navbar-collapse.collapse .btn-close {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;
        border: none;
        background-color: darkred;
        color: var(--clr-light);
        font-size: 1.2rem;
    }

    .navbar-collapse.collapse .navlist {
        display: block;
        visibility: visible;
    }

    .navbar-collapse.collapse .navlist ul {
        display: block;
        position: absolute;
        top: 64px;
        left: 0;
        right: 0;
    }

    .navbar-collapse.collapse .navlist li {
        margin-bottom: 2px;
        height: 64px;
        padding: 0;
    }

    .navbar-collapse.collapse .navlist ul li a {
        display: flex;
        margin-bottom: 2px;
        width: 100%;
        height: 100%;
        font-size: 1.3rem;
        margin: 0;
        padding: 0 32px;
        align-items: center;
        color: var(--clr-dark);
    }

    .navbar-collapse.collapse .navlist ul li a:hover {
        border: none;
        background-color: var(--clr-dark);
        color: var(--clr-light);
    }

    .navbar .nav-item .nav-link:hover,
    .navbar .nav-item .active
    {
        color: var(--clr-brand);
        border-bottom: 4px solid var(--clr-brand);
    }

@media (max-width: 800px) {

  .navbar-collapse {
    display: block;
    visibility: visible;
  }

  .navbar .navlist {
      display: none;
  }

    .navbar-brand img {
        max-height: 64px;
    }

    .navbar .navbar-toggler {
      display: block;
    }

}

@media (min-width: 800px) {

  .btn-close {
    display: none;
    visibility: hidden;
  }

  .navbar-collapse.collapse {
      display: none;
      visibility: hidden;
  }

  .navbar .navlist {
      display: block;
  }

  .navbar .navbar-toggler {
      display: none;
  }
      
}

  .btn-voltar {
    background-color: var(--clr-light-second);
    width: 64px;
    height: 64px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 64px;
    right: 32px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px var(--clr-shadow);
  }

  .btn-voltar i {
    font-size: 1.8rem;
  }

.btn-voltar:hover { 
  background-color: rgba(0, 0, 0, 0.2);
  border: rgba(210, 210, 210, 0.8);
  box-shadow: 0px 3px 8px var(--clr-shadow);
  transition: all .08s ease;
}

  .btn-voltar i:hover {
    font-size: 2.3rem;
    transition: all .08s ease;
  }

.nav-link {
    transition: all .55s ease;
}

.nav-link:hover {
    color: var(--clr-light);
    border-bottom: 2px solid var(--clr-light);

}

.brand-image {
  padding-top: 12px;
  margin-top: 4px;
  max-height: 72px;
}

.lead {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: 'Poppins', 'sans-serif';
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

header {
    top: 0;
    z-index: 1001;
}

footer {
    bottom: 0;
    z-index: 1000;
    text-align: center;
    font-size: 0.8rem;
}

.position-relative {
  position: relative;
}

.container-relative {
  position: relative;
  padding-top: 128px;
}

.container-fluid {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.container {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.galeria-item {
  background-color:rgb(30, 30, 30); 
  min-height: 200px; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
}

@media (max-width: 414px) {
    .container {
        position: relative;
        width: 100%;
    }
}

@media (min-width: 576px) {
    .container {
        position: relative;
        width: 576px;
        margin-bottom: 64px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 992px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1400px;
    }
}

.border { border: 1px solid rgba(25, 25, 25, 0.12); }

.border-top { border-top: 1px solid rgba(25, 25, 25, 0.12); }

.border-left { border-left: 1px solid rgba(25, 25, 25, 0.12); }

.border-right { border-right: 1px solid rgba(25, 25, 25, 0.12); }

.border-bottom{ border-bottom: 1px solid rgba(25, 25, 25, 0.12); }

.box-shadow-bottom { box-shadow: 2px 0 6px rgba(25, 25, 25, 0.32); }

.box-shadow-left { box-shadow: 0 2px 6px rgba(25, 25, 25, 0.32); }

.bg-transparent {
    background-color: transparent;
}

.bg-dark {
  background-color: var(--clr-dark);
}

.bg-dark-transparent {
  background-color: rgba(25, 25, 25, 0.94);
}

.bg-gross-3 {
  background: transparent;
  backdrop-filter: blur(15px);  
}

.bg-gross-2 {
  background: transparent;
  backdrop-filter: blur(10px);  
}

.bg-gross-1 {
    background: transparent;
    backdrop-filter: blur(5px);  
}

.bg-gross-dark {
  background: rgba(90, 90, 90, 0.2);
  backdrop-filter: blur(15px);  
}

.bg-image {
    background: url(../img/fundo.jpg) no-repeat; 
    background-position: center;
    background-size: cover;
}

.bg-image-contato {
  background: url(../img/atendimento.jpg) no-repeat; 
  background-position: center;
  background-size: cover;
}


.bg-light {
    background: var(--clr-light);
}

.bg-dark {
    background: var(--clr-dark);
}

.bg-dark-gradient {
    background: linear-gradient(45deg, var(--clr-brand), var(--clr-dark));
}

.text-light {
    color: var(--clr-light);
}

.text-dark {
    color: var(--clr-dark);
}

.min-vw-100 {
    min-width: 100vw;
}

.min-vh-100 {
    min-height: 100vh;
}

.min-vh-75 {
    min-height: 75vh;
}

.min-vh-50 {
    min-height: 50vh;
}

.min-vh-42 {
    min-height: 42vh;
}

.min-vh-24 {
    min-height: 24vh;
}

.min-vh-12 {
    min-height: 12vh;
}

.vh-75 {
    height: 75vh;
}

.vh-50 {
    height: 50vh;
}

.vh-42 {
    height: 42vh;
}

.vh-24 {
    height: 24vh;
}

.vh-12 {
    height: 12vh;
}

.mx-auto {
  margin: 0 auto;
}

.my-1 {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.py-1 {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.my-2 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.py-2 {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.my-3 {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.py-3 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.my-4 {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
}

.py-4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.my-5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.py-5 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.mx-1 {
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.px-1 {
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}

.mx-2 {
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.px-2 {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}

.mx-3 {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.px-3 {
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.mx-4 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.px-4 {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
}

.mx-5 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.px-5 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mt-1 {
    margin-top: 0.1rem;
}


.pt-1 {
    padding-top: 0.1rem;
}

.mt-2 {
    margin-top: 0.2rem;
}

.pt-2 {
    padding-top: 0.2rem;
}

.mt-3 {
    margin-top: 0.3rem;
}

.pt-3 {
    padding-top: 0.3rem;
}

.mt-4 {
    margin-top: 0.4rem;
}

.pt-4 {
    padding-top: 0.5rem;
}

.mt-5 {
    margin-top: 0.5rem;
}

.pt-5 {
    padding-top: 0.5rem;
}


.mb-1 {
    margin-bottom: 0.1rem;
}

.pb-1 {
    padding-bottom: 0.1rem;
}

.mb-2 {
    margin-bottom: 0.2rem;
}

.pb-2 {
    padding-bottom: 0.2rem;
}

.mb-3 {
    margin-bottom: 0.3rem;
}

.pb-3 {
    padding-bottom: 0.3rem;
}

.mb-4 {
    margin-bottom: 0.4rem;
}

.pb-4 {
    padding-bottom: 0.5rem;
}

.mb-5 {
    margin-bottom: 0.5rem;
}

.pb-5 {
    padding-bottom: 0.5rem;
}


.ml-1 {
    margin-left: 0.1rem;
}

.pl-1 {
    padding-left: 0.1rem;
}

.ml-2 {
    margin-left: 0.2rem;
}

.pl-2 {
    padding-left: 0.2rem;
}

.ml-3 {
    margin-left: 0.3rem;
}

.pl-3 {
    padding-left: 0.3rem;
}

.ml-4 {
    margin-left: 0.4rem;
}

.pl-4 {
    padding-left: 0.5rem;
}

.ml-5 {
    margin-left: 0.5rem;
}

.pl-5 {
    padding-left: 0.5rem;
}

.mr-1 {
    margin-right: 0.1rem;
}


.pr-1 {
    padding-right: 0.1rem;
}

.mr-2 {
    margin-right: 0.2rem;
}

.pr-2 {
    padding-right: 0.2rem;
}

.mr-3 {
    margin-right: 0.3rem;
}

.pr-3 {
    padding-right: 0.3rem;
}

.mr-4 {
    margin-right: 0.4rem;
}

.pr-4 {
    padding-right: 0.5rem;
}

.mr-5 {
    margin-right: 0.5rem;
}

.pr-5 {
    padding-right: 0.5rem;
}


.text-align-left,
.text-left { text-align: left; }

.text-align-center,
.text-center { text-align: center; }

.text-align-right,
.text-right { text-align: right; }

.d-flex { display: flex; }

.d-block { display: block; }

.flex-column { flex-direction: column; }

.flex-row { flex-direction: row; }

.flex-fill { flex: 1 1 auto; }

.justify-content-center { justify-content: center; }

.justify-content-start { justify-content: start; }

.justify-content-end { justify-content: end; }

.justify-content-between { justify-content: space-between; }

.align-items-center { align-items: center; }

.align-items-start { align-items: start; }

.align-items-end { align-items: end; }

.justify-self-start { justify-self: start; }

.justify-self-center { justify-self: center; }

.justify-self-end { justify-self: end; }

.align-self-center { align-self: center; }

.align-self-start { align-self: start; }

.align-self-end { align-self: end; }

.card-display {
  border-radius: 8px;
  padding: 20px 32px;
}

.card {
    padding: 20px 0.24rem;
    border-radius: 8px;
    border: 1px solid rgba(90, 90, 90, 0.2);
}

.card-body {
    padding: 1px;
}

.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6
{
    margin-bottom: 0.2em;
}

.card p { margin-bottom: 0.8em; }

.card .btn {
    font-size: 1.6em;
    padding: 2px 20px;
    margin: 80px 0;
    color: var(--clr-light);
}

.card a { color: white; }
.card ul li { list-style-type: none; }

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .card {
        margin-top: 132px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card {
        margin-top: 0px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }
  
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.row-cols-4 > * {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.333333%;
}

.offset-5 {
  margin-left: 41.666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.333333%;
}

.offset-8 {
  margin-left: 66.666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.333333%;
}

.offset-11 {
  margin-left: 91.666667%;
}

@media (min-width: 576px) {
  .col-sm {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-sm-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-sm-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-sm-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-sm-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-sm-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-sm-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-sm-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-sm-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-sm-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.333333%;
  }
  .offset-sm-2 {
    margin-left: 16.666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.333333%;
  }
  .offset-sm-5 {
    margin-left: 41.666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.333333%;
  }
  .offset-sm-8 {
    margin-left: 66.666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.333333%;
  }
  .offset-sm-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 768px) {
  .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-md-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-md-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-md-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-md-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-md-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-md-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-md-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-md-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-md-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.333333%;
  }
  .offset-md-2 {
    margin-left: 16.666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.333333%;
  }
  .offset-md-5 {
    margin-left: 41.666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.333333%;
  }
  .offset-md-8 {
    margin-left: 66.666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.333333%;
  }
  .offset-md-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-lg-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-lg-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-lg-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-lg-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-lg-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-lg-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-lg-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-lg-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-lg-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.333333%;
  }
  .offset-lg-2 {
    margin-left: 16.666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.333333%;
  }
  .offset-lg-5 {
    margin-left: 41.666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.333333%;
  }
  .offset-lg-8 {
    margin-left: 66.666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.333333%;
  }
  .offset-lg-11 {
    margin-left: 91.666667%;
  }
}

@media (min-width: 1200px) {
  .col-xl {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .row-cols-xl-1 > * {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .row-cols-xl-2 > * {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .row-cols-xl-3 > * {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .row-cols-xl-4 > * {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .row-cols-xl-5 > * {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .row-cols-xl-6 > * {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }
  .col-xl-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .order-xl-last {
    -ms-flex-order: 13;
    order: 13;
  }
  .order-xl-0 {
    -ms-flex-order: 0;
    order: 0;
  }
  .order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }
  .order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }
  .order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }
  .order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }
  .order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }
  .order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }
  .order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }
  .order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }
  .order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }
  .order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }
  .order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }
  .order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.333333%;
  }
  .offset-xl-2 {
    margin-left: 16.666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.333333%;
  }
  .offset-xl-5 {
    margin-left: 41.666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.333333%;
  }
  .offset-xl-8 {
    margin-left: 66.666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.333333%;
  }
  .offset-xl-11 {
    margin-left: 91.666667%;
  }
}

.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    max-width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    padding: 0 64px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

input {
  width: 300px;
  height: 30px;
  border: none;
  margin-bottom: 8px;
  border-radius: 4px;
  padding: 8px;
}